{% extends 'layout.html.twig' %}

{% block stylesheet %}        
        <link rel="stylesheet" href="/assets/css/pages/admin.css">
        <link rel="stylesheet" href="/assets/css/components/form.css">
{% endblock %}

{% block content %}
    <h1>Modification de l'horaire' : </h1> <br>
    {{ disponibility.timetable }}
    {% include 'Disponibility/_form.html.twig' %}
    <a href="/Disponibility/index">retour à la liste</a>
{% endblock %}