 <form method="post" action="">
        <fieldset>
            <legend>
                Rechercher :
            </legend>

            <label for="category">Par catégorie : </label>
            <select name="category">
               <option value="">Tout</option>
               <option value="1">Education</option>
               <option value="2">Traveaux d'intérieur</option>
            </select>

            <label for="search">Par helper : </label>
            <input type="search" name="search" placeholder="Rechercher...">

            <input type="submit" value="Rechercher">
        </fieldset>
</form>