{% extends 'layout.html.twig' %}

{% block content %}<pre>

</pre>
    <h1> Titre : </h1><p> {{ advert.title }} </p> 
    <h1> Description: </h1><p> {{advert.description}} </p> 
    <h1>  Disponibilité : </h1><p> {{advert.disponibility}} </p> 

    {% include 'Advert/_form.html.twig' %}
    <a href="/Advert/show/{{ advert.id }}">Back</a>
{% endblock %}