{% extends 'layout.html.twig' %}

{% block content %}

        <h1>Hello {% if session %} {{session.user.userLastName}} {{session.user.userFirstName}}{% else %}Helper{% endif %} !</h1>
        
{% endblock %}
