.advertList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.allAdvert .card {
    padding: 15%;
}

.adver.allAdvert .card:hover~.card {
    transform: translateX(50px);
}

.advert.allAdvert .card:not(:first-child) {
    margin-left: -50px;
}

.allAdvert a {
    display: inline-block;
}


/* -------------------------------------- SHOW ------------------------------- */

.advertShow {
    height: 90vh;
    position: relative;
}

.advertShow .container {
    display: flex;
    justify-content: space-around;
    height: 60vh;
}

.advertShow .rate {
    color: var(--yellow);
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.advertShow .rate span {
    font-size: .8rem;
}


/* Advert Container */

.advertShow .advertContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnAsk a {
    position: relative;
}

.btnAsk span {
    color: var(--blue-light);
    padding: 10px;
}

.btnAsk a::after {
    content: '';
    position: absolute;
    left: 40%;
    top: 50%;
    width: 20%;
    height: 2px;
    background-color: var(--light-blue);
}


/* Review Container */

.reviewsContainer {
    padding: 2% 5%;
    width: 30%;
    overflow: scroll;
}

.reviewsContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.reviewsContainer .review {
    margin-bottom: 10%;
    padding-bottom: 10%;
    border-bottom: 1px dashed var(--purple);
}

.reviewsContainer .reviews .reviewer {
    display: flex;
    align-items: flex-end;
}

.reviewsContainer .reviews .reviewer img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.reviewsContainer .reviews .comment {
    font-size: 1.2rem;
}