{% extends 'layout.html.twig' %}

{% block stylesheet %}        
        <link rel="stylesheet" href="/assets/css/pages/admin.css">
        <link rel="stylesheet" href="/assets/css/components/form.css">
{% endblock %}

{% block content %}
    <h1>Modification de la catégorie : </h1> <br>
    {{ category.name }}
    {% include 'category/_form.html.twig' %}
    <a href="/Category/index">retour à la liste</a>
{% endblock %}