{%  extends 'layout.html.twig' %}

{% block content %}
    <div class="wrapper">
        <h1>Catégorie</h1>
        
        
        <div class="categoryContainer">
            <div class="btnContainer">
                <a href="/category/add">Ajouter une catégorie</a> 
                <a href="/User/userAdmin">retour à la page Admin</a>
            </div>
            
            
            <table>
                <thead>
                    <tr>
                        <th>Categorie</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                                
                            <td><a class="adminBtn" href="/category/edit/{{ category.id }}">Modifier</a></td>
                            
                            <td>
                                <form class="delete" action="/category/delete/{{ category.id }}" method="POST">
                                    <button class="btnDelete adminBtn">Supprimer</button>
                                </form>
                            </td>
                                
                            </li>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
    </div>

{% endblock %}