{% extends 'layout.html.twig' %}

{% block content %}

     <p> {{ adverthelp.date }}</p>
    <p> {{ adverthelp.message }}</p>
     
    

    <form action="/Advert/delete/{{advert.id}}" method="POST">
    
    </form>

    
    </br>
    <a href="/AdvertHelp/add">Ajouter un message</a>
    </br>
    <a href="/Advert/index">Back</a>
   
{% endblock %}
