{% extends 'layout.html.twig' %}

{% block content %}
    <div class="wrapper signIn">
        <h1>Inscription</h1>
        {% include 'User/_form.html.twig' %}
    </div>
    <img class="draw" src="/assets/images/img/skyline.svg" alt="dessin de strasbourg"/>
{% endblock %}