{% extends 'layout.html.twig' %}

{% block stylesheet %}        
        <link rel="stylesheet" href="/assets/css/components/review.css">
        <link rel="stylesheet" href="/assets/css/components/form.css">
{% endblock %}

{% block content %}
    <div class="wrapper reviews">
        <h1>Commentaire</h1>
        {% include 'Review/_form.html.twig' %}
    </div>
{% endblock %}